* {
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: block;
    background-color: #caceb5;
    position: relative;
    min-height: 100vh;
}

/* typogrophy */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}

/* Sections */
header {
    display: block;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #4e615b;
    height: 5rem;
    color: #ece6da;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}

/* Header */

/* NavBar */
nav {
    display: flex;
    background-color: #4e615b ;
    margin: 0;
    z-index: 999;
    height: 4rem;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_logo {
    margin: 0 2rem;
    font-weight: 500;
    font-size: 3rem;
    text-decoration: none;
}

.nav_links {
    display: flex;
    list-style: none;
    margin: 0 2rem;
    gap: 3rem;
    font-size: 2rem;
    padding: 0;
}

a, .nav_links li{
    text-decoration: none;
    padding: 5px ;
    border-radius: 10px;
    color: #ece6da;
    transition: all 600ms ease;
}

/* Banner */
.ban_con {
    display: flex;
    background-image: url(./Resorces/Photos/pexels-rudolf-jakkel-418831.jpg);
    height: 600px;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    position: relative;
    top: 4rem;
    z-index: 10;
}

.ban_con img {
    width: 20rem;
    height: 20rem;
    border-radius: 180px;   
}

.ban_dis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15rem;
    width: 30rem;
    margin: 0;
    background-color: #2f3543;
    color:#ece6da;
    padding: 1rem 3rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.ban_dis p {
    font-size: large;
}

/* main */

/* Past Projects */

.main_article {
    display: flex;
    height: 1000px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#2f3543;
    z-index: 5;
    overflow: hidden;
    padding-bottom: 80px;
    margin-top: 2.5rem;
}

.pro_con {
    width: 85%;
}

.project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ece6da;
    background-color: #4e615b;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border: 2px solid #2f3543;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

}

.project img {
    width: 10rem;
    height: 8rem;
}

.code_used {
    list-style: none;
    text-align: center;
    padding: 0;
}

.pro_dis {
    text-align: center;
    line-height: 2rem;
    width: 50%;
    
}

.project:hover {
    background-color: #ece6da;
    color: #2f3543;
    transition: all 600ms ease;
}

.project:active {
    background-color: #2f3543;
    color:#ece6da;
   transition: all 0s linear;
}

/* footer */

.footer_links {
    list-style: none;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.footer_links li {
    display: inline;
    position: relative;
    bottom: 1rem;
}

.footer_link:hover {
    color:#1c1f2e;
} 

.footer_link:active {
    color:#ece6da;
    transition: all 0s linear;
}

/* contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    align-items: center;
    padding-bottom: 80px;
}

.contact h1 {
    justify-self: center;
}

.contact_con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    width: 75%;
}

.contact_con img {
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
}

.contact_info h4 {
    margin-bottom: 1rem;
}


/* screen changes */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        display:block;
    }
    /* navbar */
    nav {
        flex-direction: column;
        height: 185px;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    .nav_logo {
        font-size: 2.75rem;
        margin-top: 1rem;
    }

    .nav_links {
        font-size: 2rem;
        align-self:center;
        justify-content: space-around;
        
    }

   .nav_links li {
        display: flex;
        border: 2.5px solid #2f3543;
        margin-bottom: 1rem;
        width: 195px;
        justify-content: center;
        background-color: #2f3543;
   }


    /* banner */
   
    .ban_con {
    top: 0px;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    gap: 4rem;
    z-index: 10;
   }

   .ban_con img {
    width: 15rem;
    height: 15rem;
   }

   .ban_dis {
    width: 300px;
    height: 350px;
    line-height: normal;
    padding: 1rem 2rem;
   }

   /* main */
   .main_article {
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1900px;
    margin-top: 1rem;
   }

   .pro_con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }

   .project {
    height: 500px;
    width: 350px;
    flex-direction: column;
    
   }

   .code_used {
    margin: 0
   }

   .pro_dis {
    width: 300px
   }

   /* footer */
   footer { 
   
   }

   .footer_links {
    padding: 0;
   }


   /* coontact */
   .contact {
    justify-content: flex-start;
    margin-top: 1.5rem;
    height: 300;
   }
   .contact_con {
    flex-direction: column;
    gap: 5rem;
    margin: 3rem;
   }
}

